*
{
    margin: 0;
    padding: 0;
}


body 
{
    background-color: #efefef;
    font-family: sans-serif; 
    
}


.contact-box
{
width: 500px;
background-color:lightblue;
box-shadow: 0 0 80px 0 #999;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
position: absolute;
}

form 
{
margin: 35px;
}

.input-field 
{
font-weight: bold;
font-size: 22px;
width: 400px;
height: 60px;
margin-top: 20px;
padding-left: 15px;
border: 1px solid #777;
outline: none;
}

.textarea-field
{
   height: 150px; 
   padding-top: 10px;
}


.input-field{
width: 400px;
height: 40 px;
margin-top: 20px;
padding-left: 10px;
padding-right: 10px;
border: 1px solid #777;
border-radius: 14px;
outline: none;
}

.textarea-field {
padding-top: 10px;
height: 150px
}

.btn 
{
border-radius: 20px;
color: fff;
margin-top: 22px;
padding: 10px;
background-color: #47c35a;
font-size: 24px;
border: none;
cursor: pointer;
}

.btn2 
{
border-radius: 20px;
color: fff;
margin-top: 22px;
padding: 10px;
background-color: #47c35a;
font-size: 22px;
margin-left: 32px;
border: none;
cursor: pointer;
}