
body 
{
    background-color: #efefef;
    font-family: sans-serif; 
   
}



.contact-box
{
margin: 0 auto;
display: flex;
width: 60%;
height: 100%;
font-size: 24px;

background-color:lightblue;
}

form 
{
margin: 35px;
}

#fName
{
height: 40px;
border-radius: 10px;
font-size: 20px;

}


#lName
{
height: 40px;
border-radius: 10px;
font-size: 20px;
}

#date
{
height: 40px;
border-radius: 10px;
font-size: 20px;
}

#age
{
height: 40px;
border-radius: 10px;
font-size: 20px;

}


#email
{
height: 40px;
border-radius: 10px;
font-size: 20px;
margin-top: 20px;
}

.how {
margin-top: 20px;
text-align: center;

}

#internet
{
margin-top: 20px;
}

#socialMedia
{
  margin-top: 20px; 
}

input[type=radio]
{
   width: 25px; 
height: 20px;
border-radius: 10px;
font-size: 20px;
margin-top: 20px;

}

.recom 
{
margin-top: 20px;
text-align: center;
}


.gender
{
margin-top: 20px;
text-align: center;

}

select
{
height: 40px;
border-radius: 10px;
font-size: 20px;
margin-top: 20px;
}


.goodTime
{
margin-bottom: 50px;
text-align: center;
}

input[type=checkbox]
{
margin-left: 10px;
height: 25px;
width: 15px;
margin-bottom: 50px;
}
#subbtn 
{
border-radius: 10px;
color: white;
margin-top: 15px;
padding: 10px;
background-color: #47c35a;
font-size: 30px;
border: none;
cursor: pointer;
width: 250px;
margin-right: 250px;
}

.btn2 
{
border-radius: 10px;
color: white;
margin-top: 15px;
padding: 10px;
background-color: #47c35a;
font-size: 30px;
margin-left: 32px;
border: none;
cursor: pointer;
width: 250px;
margin-left: 350px;
}