div {
  background-color: blue;
  width: 35%;
  height: 100px;
  border: none;
text-align: center;
margin-left:500px;
 padding-top: 5px;
 
}

#number {
margin:20px;
padding-right: 50px;
padding: 9px;
height: 20px;
width: 25%;
  font-size: 20px;
}
#numbers {
margin:20px;
padding-right: 50px;
padding: 9px;
height: 20px;
width: 25%;
  font-size: 20px;
}

#numberLess {
margin:20px;
padding-right: 50px;
padding: 9px;
height: 20px;
width: 25%;
font-size: 20px;
}
#numbersLess {
margin:20px;
padding-right: 50px;
padding: 9px;
height: 20px;
width: 25%;
font-size: 20px;
}

#numberTime {
margin:20px;
padding-right: 50px;
padding: 9px;
height: 20px;
width: 25%;
font-size: 20px;
}
#numbersTime {
margin:20px;
padding-right: 50px;
padding: 9px;
height: 20px;
width: 25%;
font-size: 20px;
}

/*
#numberDiv {
margin:20px;
padding-right: 50px;
padding: 9px;
height: 20px;
width: 25%;
font-size: 20px;
}

#numbersDiv {
margin:20px;
padding-right: 50px;
padding: 9px;
height: 20px;
width: 25%;
font-size: 20px;
}
*/

.two {
  background-color: orange;
}

.three {
  background-color: green;
  
}

.four  {
  background-color: whitesmoke;
  
}



#opsbtn {
  margin-right: 80px;
  margin-top: 20px;
float: right;
 padding: 5px;
  font-size: 24px;
  text-align: center;

}
#opsbtn2 {
margin-right: 50px;
margin-top: 20px;
float: right;
padding: 5px;
font-size: 24px;
text-align: center;
}



#opsbtn3 {
margin-right: 40px;
margin-top: 20px;
float: right;
padding: 5px;
font-size: 24px;
text-align: center;
}

/*
#opsbtn4 {
margin-right: 100px;
margin-top: 20px;
float: right;
padding: 5px;
font-size: 24px;
text-align: center;
}
*/

#result  {
margin-left: 5px;
font-size: 30px;
font-weight: bold;
background-color: white;
  color: black;
}

label {
margin-left: 500px;
font-size: 30px;
font-weight: bold;
background-color: white;
  color: black;

}


