.container {
width:650px;
height:150px;
background-color: lightblue;
margin: 0 auto;
font-size: 40px;
margin-top: 200px;
padding-top: 40PX;
font-weight: bold;
}

#number  {
font-size: 30px;
width: 250px;
margin-left: 65px;
padding-left: 2px;
margin-top: 32px;
text-align: left;
  }

#numbers {
font-size: 30px;
width: 250px;
margin-left: 25px;
padding-left: 2px;
margin-top: 32px;
text-align: left;
}

input {
font-size: 40px;
margin-top: 75px;
color: lightblue;
padding-right: 20px;
font-weight: bold;
color: orange;
}

.output {
height: 200px;
width: 650px;
margin: 0 auto;
text-align: center;
background-color: lightblue;
}

.final {
width:650px;
height:100px;
background-color: lightblue;
margin: 0 auto;
font-size: 40px;
padding-bottom: 82px;
color: black;
text-align: left;
background-color: lightblue;
}

span {
margin-left: 75px;
color: orange;
font-weight: bold;
background-color: white;
}
